.vscode
__pycache__*
.ipynb_checkpoints*
.mypy_cache
hidecode*
notebooks/raw.githubusercontent.com
*.pyc
/activations
/data
/.archive
/figures
/log
__pycache__*
scripts/convert_saved_results.py
scripts/run_slurm.sbatch
*.html
topographic.egg-info
*.pkl
